body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*
    bootstrap overrides
*/

.bg-light {
    background-color: #ff4342 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: #fff;
    }

.navbar-light .navbar-brand {
    color: #fff;
}

    .navbar-light .navbar-brand:hover{
        color: #fff;
    }

    .navbar-light .navbar-brand:hover{
        color: #fff;
    }

.field-validation-error {
    color: red;
    font-weight: 700;

}

